.page-number{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.pagination{
    background-color: var(--input-bg-color) !important;
    color: var(--text-color) !important;
}
nav {
    background-color: var(--input-bg-color) !important;
    color: var(--text-color) !important;
}