.cards{
    display: flex;
}
h1{
    font-size: 22px;
    margin-top: 5%;
}

@media screen and (max-width: 767px) {
    .cards{
        flex-direction: column;
    }
    h1{
        margin-top: 20%;
        font-size: 20px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1{
        margin-top: 10%;
    }
}